name: Build and Push Docker Image to Alibaba Cloud ACR

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set DNS for Docker
        run: |
          sudo sed -i 's/^#*nameserver.*/nameserver 8.8.8.8/' /etc/resolv.conf

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Alibaba Cloud ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_REGISTRY_USER }}
          password: ${{ secrets.ALIYUN_REGISTRY_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ALIYUN_REGISTRY }}/rna_baseline_cy/rna_baseline_medicine_cy:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.ALIYUN_REGISTRY }}/rna_baseline_cy/rna_baseline_medicine_cy:latest
